.footer-top {
    border-top: 2px solid #8fb520;
    border-bottom: 2px solid #8fb520;
}

.footer-top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62%;
    margin: 0 auto;
    padding: 30px 0;
}

.footer-links {
    display: flex;
    font-size: 18px;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.social button {
    border: 2px solid #8fb520;
    border-radius: 50%;
    background: white;
    padding: 8px;
}

@media (max-width: 1465px) {
    .footer-top-block {
        width: 80%;
    }
}

@media (max-width: 1165px) {
    .footer-top-block {
        width: 90%;
    }
}

@media (max-width: 766px) {
    .footer-top-block {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .logo-footer {
        display: none;
    }

    .footer-links {
        display: block;
        margin: 0 auto;
    }

    .footer-links p {
        text-align: center;
    }

    .social button {
        display: block;
        margin: 35px auto;
    }
}

.footer-bottom {
    display: flex;
    width: 62%;
    margin: 0 auto;
    align-items: center;
    padding: 15px 0;
    border-bottom: 0!important;
}

@media (max-width: 1465px) {
    .footer-bottom {
        width: 80%;
    }
}

@media (max-width: 1165px) {
    .footer-bottom {
        width: 90%;
    }
}

@media (max-width: 766px) {
    .footer-bottom {
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 1070px) {
    .logo-footer img {
        width: 165px;
    }
}

.footer-bottom p {
    margin-top: 15px;
}

#hideBlock {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100rem;
    background: rgba(205, 205, 205, 0.89);
}

.hiddenBlock {
    display: block;
    position: relative;
    top: -80px;
    width: 62%;
    margin: 150px auto;
    padding: 50px 50px;
    background: white;
}

@media (max-width: 1465px) {
    .hiddenBlock {
        width: 80%;
        padding: 45px 45px;
    }
}

@media (max-width: 1165px) {
    .hiddenBlock {
        width: 90%;
    }
}

@media (max-height: 835px) {
    .hiddenBlock {
        margin: 100px auto;
    }
}

@media (max-height: 775px) {
    .hiddenBlock {
        margin: 90px auto;
    }
}

@media (max-width: 615px) {
    .hiddenBlock {
        width: 95%;
        padding: 40px 40px;
    }
}

@media (max-width: 465px) {
    .hiddenBlock {
        padding: 25px 25px;
    }
}

@media (max-width: 375px) {
    .hiddenBlock {
        padding: 20px 20px;
    }
}

.hiddenClose {
    text-align: right;
}

.hiddenClose img {
    position: relative;
    left: 45px;
    top: -45px;
}

@media (max-width: 615px) {
    .hiddenClose img {
        left: 38px;
        top: -38px;
    }
}

@media (max-width: 465px) {
    .hiddenClose img {
        left: 25px;
        top: -25px;
    }
}

@media (max-width: 375px) {
    .hiddenClose img {
        left: 18px;
        top: -18px;
    }
}

.hiddenBlock h1 {
    color: black;
}

#hideBlock form  {
    border: 0;
}

#hideBlock form input,
#hideBlock form textarea {
    border: 2px solid #8fb520;
}

@media (max-height: 765px) {
    #message_hidden {
        height: 100px;
    }
}

#hideBlock form p {
    font-size: 14px;
}

#hideBlock form p {
    color: grey;
}

#hideBlock form p a {
    color: grey;
    cursor: pointer;
}

.input-block-hidden {
    width: 35%;
}

@media(max-width: 965px) {
    .input-block-hidden {
        width: 50%;
    }
}

.textarea-block-hidden {
    width: 65%;
}

@media(max-width: 965px) {
    .textarea-block-hidden {
        width: 50%;
    }
}

.textarea-block-hidden textarea {
    height: 195px;
}

#hideBlock button {
    z-index: 101;
    background: #8fb520;
    width: 110px;
    border: 0;
}

#hideBlock button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -2px rgba(0,0,0,0.3);
}
